<h1 class="font-bold m-5"><%= title %></h1>
<div
  class="flex flex-col justify-center items-center w-44 p-5 border border-black rounded-md m-5"
>
  <img src="<%= item.src %>" alt="<%= item.name %>" class="w-24 h-24" />
  <h2><%= item.name %></h2>
  <p>Price: $<%= item.price %></p>
  <p>Qty: <%= item.qty %></p>
</div>

<a
  href="/items/edit/<%= item.id %>"
  class="m-10 px-6 py-3 border border-black rounded-md"
  >Edit</a
>

<!-- category? -->
